<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" version="3.0">
    <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/nuoDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    </resource-ref>
  <servlet>
    <servlet-name>HockeyServlet</servlet-name>
    <servlet-class>com.nuodb.servletsample.HockeyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HockeyServlet</servlet-name>
    <url-pattern>/hockey.do</url-pattern>
  </servlet-mapping>
</web-app>

