<!-- Copyright (c) 2013 NuoDB, Inc. -->
<web-app id="StorefrontDemo" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>NuoDB Storefront Demo</display-name>

    <context-param>
        <description>Externally-accessible URL for remote Storefront instances to communicate with this one.  The {host}, {port} and {context} placeholders may be used for auto-detected values.</description>
        <param-name>storefront.publicUrl</param-name>
        <param-value>http://{host}:{port}/{context}</param-value>
    </context-param>

    <!-- Default value is "false". Commented out so Jetty embedded web app can override this with "true" when the app is 
        hosted by the NuoDB Console's process. <context-param> <description>When true, indicates the heartbeat service should not 
        start until the first HTTP request is received. Otherwise heartbeating starts when the web app starts.</description> <param-name>storefront.lazyLoad</param-name> 
        <param-value>false</param-value> </context-param> -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Lifecycle listeners -->
    <listener>
        <listener-class>com.nuodb.storefront.servlet.StorefrontWebApp</listener-class>
    </listener>

    <!-- HTTP headers for cross-site AJAX support -->
    <filter>
        <filter-name>AccessControlFilter</filter-name>
        <filter-class>com.nuodb.storefront.servlet.AccessControlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessControlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Servlets -->
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.nuodb.storefront.api</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>storefront-welcome</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-store-products</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.store.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-store-product</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.store.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-store-cart</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.store.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-controlpanel-processes</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.controlpanel.ProcessesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-controlpanel-products</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.controlpanel.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-controlpanel-regions</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.controlpanel.RegionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-controlpanel-users</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.controlpanel.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-tour-continuousavailability</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.tour.ContinuousAvailabilityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-tour-geodistribution</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.tour.GeoDistributionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-tour-horizscaleout</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.tour.HorizScaleOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-tour-multitenancy</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.tour.MultiTenancyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-tour-noknobsadmin</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.tour.NoKnobsAdminServlet</servlet-class>
    </servlet>

    <!-- URL mappings -->
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-store-products</servlet-name>
        <url-pattern>/store-products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-store-product</servlet-name>
        <url-pattern>/store-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-store-cart</servlet-name>
        <url-pattern>/store-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-controlpanel-processes</servlet-name>
        <url-pattern>/control-panel-processes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-controlpanel-products</servlet-name>
        <url-pattern>/control-panel-products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-controlpanel-regions</servlet-name>
        <url-pattern>/control-panel-regions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-controlpanel-users</servlet-name>
        <url-pattern>/control-panel-users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-tour-continuousavailability</servlet-name>
        <url-pattern>/tour-continuous-availability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-tour-geodistribution</servlet-name>
        <url-pattern>/tour-geo-distribution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-tour-horizscaleout</servlet-name>
        <url-pattern>/tour-horiz-scale-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-tour-multitenancy</servlet-name>
        <url-pattern>/tour-multi-tenancy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-tour-noknobsadmin</servlet-name>
        <url-pattern>/tour-no-knobs-admin</url-pattern>
    </servlet-mapping>
</web-app>