<!-- Copyright (c) 2013 NuoDB, Inc. -->
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>NuoDB Storefront Demo</display-name>

    <context-param>
        <description>This parameter is stored in the APP_INSTANCE table and tells all Storefront instances how to communicate with this one</description>
        <param-name>public-url</param-name>
        <param-value>http://{host}:{port}/{context}</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>products</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Lifecycle listeners -->
    <listener>
        <listener-class>com.nuodb.storefront.StorefrontWebApp</listener-class>
    </listener>

    <!-- HTTP headers for cross-site AJAX support -->   
    <filter>
        <filter-name>AccessControlFilter</filter-name>
        <filter-class>com.nuodb.storefront.servlet.AccessControlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessControlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- Servlets -->
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.nuodb.storefront.api</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>storefront-products</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.ProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-product</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-cart</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-welcome</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storefront-control-panel</servlet-name>
        <servlet-class>com.nuodb.storefront.servlet.ControlPanelServlet</servlet-class>
    </servlet>
    
    <!-- URL mappings -->
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-products</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-product</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storefront-control-panel</servlet-name>
        <url-pattern>/control-panel</url-pattern>
    </servlet-mapping>
</web-app>